<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../src/Image/photo_2023-03-10_10-33-00.png" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Roboto+Slab&family=Roboto:wght@500&display=swap"
    rel="stylesheet">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../src/Css/style.css" />
  <title>Trang Chủ</title>
</head>

<body>
  <div class="box-main">
    <header>
      <div class="header-menutop-banner">
        <div class="logo-menu-oppenTime d-flex justify-content-between align-items-center container position-relative">
          <div class="logo">
            <img src="../src/Image/photo_2023-03-10_10-33-00.png" alt="" />
          </div>
          <div class="icon-menu-sub-responsive">
            <button type="button" onclick="iconOpenMenuSubClick()">
              <i class='bx bx-menu'></i>
          </div>
          <div class="menu-oppentime d-flex gap-5">
            <div class="menu">
              <ul class="d-flex gap-3">
                <li><a href="headerHomePage.html">Trang Chủ</a></li>
                <li><a href="About.html ">Về Chúng Tôi</a></li>
                <li><a href="ourService.html">Dịch Vụ</a></li>
                <li class="menu-sub-page">
                  <span class="d-flex align-items-center">Trang <i class="bx bx-chevron-down"></i></span>
                  <ul class="menu-mini">
                    <li><a href="ourTeamPage.html">Đội ngũ</a></li>
                    <li><a href="FaqPage.html">Câu hỏi thường gặp</a></li>
                    <li><a href="Booking.html">Lịch hẹn</a></li>
                    <li><a href="">404 Page</a></li>
                    <li><a href="blog.html">Tin tức</a></li>
                    <li><a href="single-blog.html">Tin tức chi tiết </a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Liên hệ</a></li>
              </ul>
            </div>
            <div class="oppentime-icon">
              <i class="bx bxl-facebook"></i>
              <i class="bx bxl-instagram"></i>
              <button type="button" onclick="iconOpenBoxClick()">
                <i class="bx bx-align-right open-Time"></i>
              </button>
              <button type="button" onclick="" class="user-login">
                <a href="login.html" class="text-black"><i class='bx bx-user-circle'></i></a>
              </button>
              <button type="button" onclick="" class="user-account position-relative" onclick="iconOpenBoxClick()">
                <img
                  src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aHVtYW58ZW58MHx8MHx8&w=1000&q=80"
                  alt="">

              </button>
              <div class="box-fs-account position-absolute">
                <ul>
                  <li><a href="">Xem thông tin</a></li>
                  <li><a href="">Sửa thông tin</a></li>
                  <li><a href="">Đăng Xuất</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="banner-text-page">
          <div class="banner-page position-absolute top-0">
          </div>
          <div class="text-center-banner">
            <h1>Về Chúng Tôi</h1>
            <span>Các dịch vụ Spa cao cấp để giúp bạn thư giãn và tìm lại sự cân bằng trong cuộc sống, dịch vụ của chúng
              tôi sẽ có ích với bạn .</span>
          </div>
        </div>
      </div>
    </header>
    <main>
      <!-- ==========Câu chuyện thương hiệu============ -->
      <div class="container">
        <div class="story-about">
          <h4 class="text-under-h4-HomePage">CÂU CHUYỆN THƯƠNG HIỆU</h4>
          <h5 class="h5-story-about">Cảm ơn bạn đã ghé thăm nhà BOVIS SPA, nếu đã đến, bạn hãy ở lại lắng nghe câu
            chuyện hình thành nên thương hiệu BOVIS SPA. </h5>
          <div class="img-story-about" data-aos="fade-up">
            <img src="../src/Image/banner-Hompage-new.png" width="100%" alt="">
            <div class="text-in-img-story text-center">

              <h5 class="h5-story-about">
                BOVIS SPA - SPA UY TÍN ĐÀ NẴNG
              </h5>
              <p>Sứ mệnh của chúng tôi là đánh thức ""nét đẹp không cần son phấn"" và ""cùng bạn xây dựng tương
                lai"</p>

            </div>
          </div>
          <div class="grid-img-ceo row" data-aos="fade-up">
            <div class="col-md-4">
              <img src="../src/Image/follow2.jpg" width="100%" alt="">
            </div>
            <div class="col-md-8">
              <p> "Sắc đẹp là một trong những vấn đề được quan tâm hàng đầu không chỉ riêng với bản thân Như mà
                còn......
                Với niềm tin ấy, Như đã quyết tâm đi trên con đường khai phá ""nét đẹp không cần son phấn"". Hơn hết Như
                xây dựng hình tượng là một người phụ nữ hiện đại, thành đạt, truyền cảm hứng đến tất cả những người phụ
                nữ
                có thể tự chủ về kinh tế và khẳng định giá trị của bản thân.</p> <br>

              <p> Nói đến khoảng thời gian Như bắt đầu hình thành ý tưởng thành lập nên thương hiệu BOVIS SPA, có thể là
                vào
                những năm tôi 20, là khoảng thời gian đang còn ngồi trên giảng đường đại học. Là một người con gái, Như
                không ngừng tìm cách để lưu giữ lại làn da căng mịn và tươi trẻ. Như đã sử dụng rất nhiều những giải
                pháp
                khác nhau, nhưng hiệu quả chúng mang lại chỉ trong một khoảng thời gian ngắn. Và đó cũng là lúc Như nhận
                ra rằng: ""Như cần phải làm điều gì đó, dù chỉ là những điều nhỏ nhất, để mang lại giải pháp làm đẹp lâu
                dài không chỉ đối với bản thân Như"".</p><br>

              <p>Trải qua hơn nhiều năm kinh nghiệm, Như đã đi rất nhiều nơi, gặp được rất nhiều những người phụ nữ có
                số
                phận cơ cực, bị áp bức. Như luôn quan niệm rằng: ""Phụ nữ ngày nay không chỉ đẹp mà còn sắc sảo và thông
                minh. Họ không chỉ giỏi trong quán xuyến việc gia đình mà còn biết cách tự chủ về tài chính, tăng thêm
                giá
                trị cho bản thân"". Ngành spa, chính là sự lựa chọn phù hợp nhất đối với cá nhân Như và tất cả các chị
                em
                phụ nữ. Bởi qua đó, Như có thể mang đến cho các chị em mình không chỉ là vẻ đẹp mà còn lan tỏa một nguồn
                năng lượng, đào tạo và hỗ trợ giúp chị em tự tin phát triển nghề nghiệp. Bắt nguồn từ nguyên nhân này,
                Như
                đã quyết định xây dựng thương hiệu BOVIS SPA.</p> <br>



              <p></p>
            </div>
          </div>
          <div class="vien-canh" data-aos="fade-up">
            <h4 class="text-under-h4-HomePage h4-story">VIỄN CẢNH</h4>
            <p>Trên con đường chinh phục một làn da hoàn mỹ, đích đến của BOVIS là trở thành Spa cung cấp dịch vụ chăm
              sóc sức khỏe lẫn sắc đẹp uy tín và chất lượng, là sự lựa chọn đáng tin cậy nhất cùng bạn khẳng định giá
              trị của bản thân. </p>
          </div>
          <div class="su-menh" data-aos="fade-up">
            <h4 class="text-under-h4-HomePage h4-story">SỨ MỆNH</h4>
            <p>"Khách hàng: BOVIS SPA mang đến trải nghiệm dịch vụ thẩm mỹ tiên tiến nhất, đánh thức nét đẹp tiềm ẩn,
              nhắn nhủ khách hàng hãy yêu thương chính mình bởi vì ""Your beauty is the one - Vẻ đẹp của bạn là duy
              nhất""
            </p>
            <p><br>
              Nhân viên: BOVIS SPA cam kết đạt được sự tăng trưởng bền vững trong kinh doanh thông qua đội ngũ nhân viên
              được giao quyền, hành động với tinh thần trách nhiệm và xây dựng lòng tin. Đầu tư vào phát triển kỹ năng
              chuyên môn và tinh thần nhân viên thông qua việc đào tạo, phát triển từng cá nhân trong công ty.
            </p>
            <p><br>
              Xã hội: BOVIS SPA ra đời và phát triển với sứ mệnh đóng góp cho xã hội bằng cách tạo công ăn việc làm cho
              những người lao động trong môi trường làm việc lành mạnh, cạnh tranh công bằng và phát triển. Thông qua đó
              góp phần khích lệ, thúc đẩy phong trào khởi nghiệp cho người trẻ. Hoạt động của tổ chức hướng tới việc
              cung cấp những sản phẩm, dịch vụ uy tín, chất lượng đến người tiêu dùng." </p>
          </div>
          <div class="giatri-cot-loi" data-aos="fade-up">
            <h4 class="text-under-h4-HomePage h4-story">GIÁ TRỊ CỐT LÕI</h4>
            <p>"Mono Bovis Spa trung thành với 4 giá trị cốt lõi chính: TÂM - TÍN - THIỆN - TRÍ</p>

            <p> Tâm: Mono Bovis Spa đặt chữ ""Tâm"" lên hàng đầu, là gốc rễ cho sự phát triển của công ty. Chúng tôi duy
              trì đạo đức nghề nghiệp và xã hội ở tiêu chuẩn cao nhất, đảm bảo mang đến những trải nghiệm dịch vụ hoàn
              hảo nhất. Lòng trung thành của khách hàng chính là kết quả cuối cùng mà Bovis Spa muốn hướng đến.
            </p>
            <p> Tín: Cung cấp dịch vụ thẩm mỹ tiên tiến nhất, nỗ lực hết mình trong việc thực hiện hiệu quả những cam
              kết
              về chất lượng sản phẩm và dịch vụ. Hơn hết, Bovis Spa hướng đến mục tiêu trở thành nơi khách hàng gửi gắm
              niềm tin trên con đường chinh phục sắc đẹp của chính mình.
            </p>
            <p> Thiện: Nỗ lực xây dựng các mối quan hệ với khách hàng, đối tác và đồng nghiệp bằng sự tận tâm, chu đáo
              và
              tinh thần nhân văn. Tích cực đẩy mạnh công tác hỗ trợ khách hàng, xây dựng môi trường làm việc công tâm,
              thái độ thiện chí trong hợp tác với đối tác.
            </p>
            <p> Trí: Tích cực đổi mới, sáng tạo, chủ động trong công việc là tinh thần làm việc mà Mono Bovis Spa đề cao
              hướng đến sự chuyên nghiệp và thành thạo tay nghề ở mọi vị trí công việc.
              " </p>
          </div>
        </div>
      </div>

      <!-- ================== ourr team===============-->
      <div class="container ourteam-ceo" >
        <h4 class="h4-ourteam text-center">ĐỘI NGŨ NHÂN SỰ</h4>
        <div class="ceo-our-team row" data-aos="fade-up">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <img src="../src/Image/nguyenthiquynhnhu.png" width="100%" alt="">
            <h4 class="h4-ceo-ourteam">NGYỄN THỊ QUỲNH NHƯ</h4>
            <p class="p-ceo-ourteam">Giám Đốc</p>
            <p class="text-center">Hoạt động trong lĩnh vực làm đẹp, có nhiều kinh nghiệm và thường xuyên được tiếp xúc
              làm việc với các
              chuyên gia nổi tiếng trong và ngoài nước, chị Quỳnh Như đặt nhiều tâm huyết và sự sáng tạo với mong muốn
              góp phần vào việc chăm sóc sắc đẹp một cách hiệu quả và an toàn cho phụ nữ. </p>
          </div>
          <div class="col-md-4"></div>

        </div>
        <div class="right-our-service" data-aos="fade-up">
          <div class="row doctor-user-of-team">
            <div class="user-of-team col-md-4">
              <div class="img-user-of-team">
                <img width="100%" src="../src/Image/nguyenthiquynhnhu.png" alt="">
              </div>
              <h4 class="text-center h4-doctor-our-team">BS. TRẦN NHẬT QUANG </h4>
              <p class="text-center">Chuyên khoa tạo hình thẩm mỹ </p>
              <p>Là chuyên gia hàng đầu về lĩnh vực trị liệu và tạo hình thẩm mỹ công nghệ cao. Trong suốt gần 10 năm
                kinh nghiệm, bác sĩ Nhật Quang luôn đặt hiệu quả và an toàn của khách hàng lên trên hết. </p>
            </div>
            <div class="user-of-team col-md-4">
              <div class="img-user-of-team">
                <img width="100%" src="../src/Image/nguyenthiquynhnhu.png" alt="">
              </div>
              <h4 class="text-center h4-doctor-our-team">Ths & Bs. NGUYỄN DUY KHÁNH </h4>
              <p class="text-center">Chuyên khoa tạo hình thẩm mỹ </p>
              <p>Bằng kinh nghiệm và nhiều thành tựu đạt được trong hơn 10 năm hoạt động với lĩnh vực tạo hình thẩm mỹ,
                Thạc sĩ & Bác sĩ Nguyễn Duy Khánh đã lấy lại sự tự tin vốn có cho nhiều khách hàng </p>
            </div>
            <div class="user-of-team col-md-4">
              <div class="img-user-of-team">
                <img width="100%" src="../src/Image/nguyenthiquynhnhu.png" alt="">
              </div>
              <h4 class="text-center h4-doctor-our-team">TRẦN NGỌC ĐOAN TRANG </h4>
              <p class="text-center">Dược sĩ tư vấn viên chuyên khoa da liễu </p>
              <p>"Chị Đoan Trang chuyên viên quản lý và tư vấn của Mono Bovis Spa trong lĩnh vực làm đẹp, đã trải qua
                nhiều khóa đào tạo sâu về chuyên môn. Liên tục được đào tạo và kiểm tra tay nghề để mang lại hiệu quả
                cao nhất trong quá trình trị liệu.
                " </p>
            </div>
          </div>
        </div>
        <div class="container doi-ngu-bac-si" data-aos="fade-up">
          <img src="../src/Image/doi-nguuuuuuuuuuu.jpg" width="100%" alt="">
          <p>"Con người chính là yếu tố cốt lõi tạo nên thành công cho thương hiệu Mono Bovis Spa ngày hôm nay. Chúng
            tôi tự tin cung cấp những dịch vụ chất lượng, uy tín nhất với đội ngũ bao gồm các chuyên gia, bác sĩ hàng
            đầu, kỹ thuật viên có tay nghề cao, được đào tạo bài bản về chuyên môn cũng như phong cách phục vụ chuyên
            nghiệp.
            "
          </p>
        </div>
      </div>
      <!-- ==============working out============= -->

      <!-- =======follow our ig============= -->

    </main>
    <footer>
      <div class=" background-image-footer position-absolute w-100 "></div>
      <div class="container text  ">
        <div class="row pt-4 row-footer">

          <div class="col">
            <img src="../src/Image/photo_2023-03-10_10-33-00.png" alt="">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="link-icon">
              <ul class="list-unstyled d-flex">
                <li><a href=""><i class='bx bxl-facebook'></i></a></li>
                <li><a href=""><i class='bx bxl-instagram'></i></a></li>
                <li><a href=""><i class='bx bxl-twitter'></i></a></li>
                <li><a href=""><i class='bx bxl-pinterest-alt'></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col">
            <h4 class="pb-3">Support</h4>
            <div class="list-support">
              <ul class="list-unstyled">
                <li><a href="">FAQ's</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Term & Conditions</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col contact">
            <h4 class="pb-3">Kết nối</h4>
            <p>Can lộc hà tĩnh</p>
            <p>Phone : (+62)81 234 567</p>

          </div>
          <div class="col">
            <!-- form subcribe -->
            <form action="">
              <h4 class="pb-3">Subscribe Newsletter</h4>
              <div class="box-input-email d-flex">
                <input type="text" placeholder="Your email"><button>Subscribe</button>
              </div>
            </form>


          </div>
        </div>
        <hr style="color: aliceblue;">

      </div>
      <div class="coppyright   container">
        <div class="text-left">
          <p>Nail Salon Template Kit By Jegtheme.
          </p>
        </div>
        <div class="text-right">
          <p> &copy; Bản quyền thuộc facebook anh em code mòn đít </p>
        </div>

      </div>
    </footer>
  </div>
  <div class="oppenTime-box">
    <div class="information-oppenTime">
      <div class="close-information-oppenTime fs-2">
        <button type="button" onclick="iconOpenBoxClick()">
          <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="logo container text-center">
        <img src="../src/Image/photo_2023-03-10_10-33-00.png" alt="" />
      </div>
      <div class="text text-center">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel
          risus imperdiet, gravida justo eu.</span>
      </div>
      <hr />
      <div class="map-phone-email container">
        <div class="icon d-flex align-items-center justify-content-center gap-1 mb-3">
          <i class="bx bxs-map"></i>
          <div class="span">Jl. Pantai Batu Mejan, Canggu, Bali</div>
        </div>
        <div class="icon d-flex align-items-center justify-content-center gap-1 mb-3">
          <i class="bx bxs-phone"></i>
          <div class="span">(+62)81 234 567</div>
        </div>
        <div class="icon d-flex align-items-center justify-content-center gap-1 mb-3">
          <i class="bx bxs-envelope"></i>
          <div class="span">naylish@domain.com</div>
        </div>
      </div>
      <hr />
      <div class="opening-hours d-flex align-items-center gap-3 container justify-content-center">
        <div class="day container">
          <p>Monday - Friday :</p>
          <p>Saturday :</p>
          <p>Sunday :</p>
        </div>
        <div class="time container text-center">
          <p>09:00 AM - 19:00 PM</p>
          <p>09:00 AM - 19:00 PM</p>
          <p>09:00 AM - 19:00 PM</p>
        </div>
      </div>
      <hr />
      <div class="social-network d-flex align-items-center gap-2 container justify-content-center">
        <i class="bx bxl-facebook"></i>
        <i class="bx bxl-twitter"></i>
        <i class="bx bxl-instagram"></i>
        <i class="bx bxl-pinterest-alt"></i>
      </div>
    </div>
  </div>
  <div class="menu-sub-responsive position-fixed top-0">
    <div class="close-menu-sub-reponsive">
      <button type="button" class="float-end me-2 mt-2 fs-3" onclick="iconOpenMenuSubClick()">
        <i class="bx bx-x"></i>
      </button>
    </div>
    <div class="logo ps-3">
      <img src="../src/Image/photo_2023-03-10_10-33-00.png" alt="">
    </div>
    <div class="menu menu-responsive">
      <ul>
        <li><a href="headerHomePage.html">HOME</a></li>
        <li><a href="About.html">ABOUT US</a></li>
        <li><a href="ourService.html">SERVICES</a></li>
        <li class="menu-sub-page-respon">
          <span class="d-flex align-items-center justify-content-between pe-1 mb-1">PAGE <i
              class="bx bx-chevron-down"></i></span>
          <ul class="menu-mini-respon">
            <li><a href="ourTeamPage.html">Our Team</a></li>
            <li><a href="FaqPage.html">FAQ</a></li>
            <li><a href="Booking.html">Booking</a></li>
            <li><a href="">404 Page</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="single-blog.html">Single Blog</a></li>
          </ul>
        </li>
        <li><a href="contact.html">CONTACT US</a></li>
        <li class="pe-3"> <button type="button" onclick="" class="user-login-responsive w-100">
            <a href="login.html" class="text-white border-0 d-flex align-items-center gap-3 p-2"><i
                class='bx bx-user-circle'></i> Đăng Nhập</a>
          </button></li>
        <li class="user-account pe-3">
          <button class="box-account-responsive border-0 d-flex align-items-center gap-3 p-2 w-100">
            <img
              src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aHVtYW58ZW58MHx8MHx8&w=1000&q=80"
              alt="">
            <span class="fs-5">Lê Sỹ Hải</span>
          </button>
          <ul class="box-fs-account-responsive">
            <li><a href="">Xem thông tin</a></li>
            <li><a href="">Sửa thông tin</a></li>
            <li><a href="">Đăng Xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <script src="../src/Js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>