<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../src/Image/photo_2023-03-10_10-33-00.png" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Roboto+Slab&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../src/Css/style.css" />
    <title>Our Team</title>
</head>

<body>
    <div class="box-main">
        <header class="header-homePage container-fluid">
            <div class="header-menutop-banner">
                <div
            class="logo-menu-oppenTime d-flex justify-content-between align-items-center container position-relative"
          >
            <div class="logo">
              <img src="../src/Image/photo_2023-03-10_10-33-00.png" alt="" />
            </div>
            <div class="icon-menu-sub-responsive">
                 <button type="button" onclick="iconOpenMenuSubClick()">
             <i class='bx bx-menu'></i>
            </div>
            <div class="menu-oppentime d-flex gap-5">
              <div class="menu">
                <ul class="d-flex gap-5">
                  <li><a href="headerHomePage.html">HOME</a></li>
                  <li><a href="About.html">ABOUT US</a></li>
                  <li><a href="ourService.html">SERVICES</a></li>
                  <li class="menu-sub-page">
                    <span class="d-flex align-items-center"
                      >PAGE <i class="bx bx-chevron-down"></i
                    ></span>
                     <ul class="menu-mini menu-mini-home">
                      <li><a href="ourTeamPage.html">Our Team</a></li>
                      <li><a href="FaqPage.html">FAQ</a></li>
                      <li><a href="Booking.html">Booking</a></li>
                      <li><a href="">404 Page</a></li>
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="single-blog.html">Single Blog</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">CONTACT US</a></li>
                </ul>
              </div>
              <div class="oppentime-icon">
                <i class="bx bxl-facebook"></i>
                <i class="bx bxl-instagram"></i>
                <button type="button" onclick="iconOpenBoxClick()">
                  <i class="bx bx-align-right open-Time"></i>
                </button>
                 <button type="button" onclick="" class="user-login">
                  <a href="login.html" class="text-black"><i class='bx bx-user-circle'></i></a>
                </button>
                 <button type="button" onclick="" class="user-account position-relative" onclick="iconOpenBoxClick()">
                  <img src="https://www.thisiscolossal.com/wp-content/uploads/2019/02/moon_crop.jpg" alt="">
                </button>
                  <div class="box-fs-account box-fs-account-home position-absolute">
                    <ul >
                      <li><a href="">Xem thông tin</a></li>
                      <li><a href="">Sửa thông tin</a></li>
                      <li><a href="">Đăng Xuất</a></li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
                <div class=" banner-page position-absolute top-0"></div>
            </div>


            <div class="container">
                <div class="row img-banner-homePage ">
                    <div data-aos="fade-right" data-aos-duration="1500" class="left-banner-Homepage col-md-6">
                        <h2>Give Your Nails Sweet Treat</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                            ullamcorper mattis, pulvinar dapibus leo.</p>
                        <div class="link-left-banner-homePage">
                            <a href=""><button class="btn">Book Appointment</button></a>
                            <a href=""><button class="btn">Our Service</button></a>
                        </div>
                    </div>


                    <div data-aos="fade-up" data-aos-duration="1500" class="right-banner-Homepage col-md-6">
                        <div class="image1-banner-homePage">
                            <img width="90%" src="../src/Image/banner-Hompage.jpg" alt="">
                        </div>
                        <div class="image2-banner-HomePage">
                            <img width="50%" src="../src/Image/banner-homepage2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            
            <!-- =======About Us=========== -->
            <div class="container">
                <div class="About-Us row">
                    <div data-aos="fade-up" data-aos-duration="1500" class="left-about-us col-md-6">
                        <div class="item-left-about-us">
                            <img src="../src/Image/about-us2.jpg" width="100%" alt="">
                        </div>
                        <div class="item-left-about-us">
                            <img src="../src/Image/about-us1.jpg" width="100%" alt="">
                        </div>
                        <div class="item-absol-about-us">
                            <img src="../src/Image/about-us3.jpg" width="40%" alt="">
                        </div>
                    </div>
                    <div data-aos="fade-down" data-aos-duration="1500" class="right-about-us col-md-6">
                        <h4 class="text-under-h4-HomePage">About Us</h4>
                        <h2 class="text-title-HomePage">We Have the Nail Knowledge</h2>
                        <p class="p-title-Hompage">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
                        </p>
                        <div class="item-right-about-us">
                            <div class="content-item-right">
                                <img src="../src/Image/like-about-us.png" width="50px" alt="">
                                <div class="text-content-item-right-about-us">
                                    <p>24<i class='bx bx-plus-medical' style='color:#C6641B'></i></p>
                                    <p>Year Experience</p>
                                </div>
                            </div>
                            <div class="content-item-right">
                                <img src="../src/Image/scrum-about-us.png" width="50px" alt="">
                                <div class="text-content-item-right-about-us">
                                    <p>850<i class='bx bx-plus-medical' style='color:#C6641B'></i></p>
                                    <p>Happy Client</p>
                                </div>
                            </div>
                        </div>
                        <a href=""><button class="btn btn-about-us">About Us</button></a>
                    </div>
                </div>
            </div>
            <!-- ==============Our Service========= -->
            <div class="container">
                <!-- =========text==== -->
                <div class="our-service row">
                    <div class="left-our-service col-md-6" data-aos="fade-up">
                        <h4 class="text-under-h4-HomePage">Our Service</h4>
                        <h2 class="text-title-HomePage">Make Gorgeous Nails A Part of Your Life.</h2>
                    </div>
                    <div class="right-our-service col-md-6" data-aos="fade-down">
                        <p class="p-title-Hompage">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris</p>
                        <a href=""><button class="btn btn-about-us">All Service</button></a>
                    </div>
                </div>
                <!-- ===========Image========== -->
                <div class="image-service row" data-aos="fade-up" >
                    <div class="col-md-4 item-image-service">
                        <img src="https://templatekit.jegtheme.com/naylish/wp-content/uploads/sites/221/2022/01/manicure.jpg"
                            width="95%" alt="">

                        <div class="text-item-image-service">
                            <h4>Manicure</h4>
                            <p>Lorem ipsum dolor sit amet, consectet adipiscing elit.</p>
                            <a href=""><button class="btn btn-book-service">Book Now <i class='bx bx-right-arrow-alt'
                                        undefined></i></button></a>
                        </div>

                    </div>
                    <div class="col-md-4 item-image-service">
                        <img src="https://templatekit.jegtheme.com/naylish/wp-content/uploads/sites/221/2022/01/nail-polish.jpg"
                            width="95%" alt="">
                        <div class="text-item-image-service">
                            <h4>Manicure</h4>
                            <p>Lorem ipsum dolor sit amet, consectet adipiscing elit.</p>
                            <a href=""><button class="btn btn-book-service">Book Now <i class='bx bx-right-arrow-alt'
                                        undefined></i></button></a>
                        </div>
                    </div>
                    <div class="col-md-4 item-image-service">
                        <img src="https://templatekit.jegtheme.com/naylish/wp-content/uploads/sites/221/2022/01/pedicure.jpg"
                            width="95%" alt="">
                        <div class="text-item-image-service">
                            <h4>Manicure</h4>
                            <p>Lorem ipsum dolor sit amet, consectet adipiscing elit.</p>
                            <a href=""><button class="btn btn-book-service">Book Now <i class='bx bx-right-arrow-alt'
                                        undefined></i></button></a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- =============treatment & price =========== -->
            <div class="treatment-price">
                <div class="background-treat-price">
                    <div class="content-treatment-price container">
                        <div class="grid-treatment-price row">
                            <div class="left-treatment-price col-md-6" data-aos="zoom-in-down">
                                <h4 class="text-under-h4-HomePage">Treatments & Prices</h4>
                                <h2 class="text-title-HomePage">It’s Time to Get Trimmed.</h2>
                                <div class="title-lefy-streatment">
                                    <div class="option-and-price">
                                        <p style="font-weight: bolder;">Manicure</p>
                                        <div class="style-option"></div>
                                        <p>$12.00</p>

                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                                </div>
                                <div class="title-lefy-streatment">
                                    <div class="option-and-price">
                                        <p style="font-weight: bolder;">Manicure</p>
                                        <div class="style-option"></div>
                                        <p>$12.00</p>

                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                                </div>
                                <div class="title-lefy-streatment">
                                    <div class="option-and-price">
                                        <p style="font-weight: bolder;">Manicure</p>
                                        <div class="style-option"></div>
                                        <p>$12.00</p>

                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                                </div>
                                <div class="title-lefy-streatment">
                                    <div class="option-and-price">
                                        <p style="font-weight: bolder;">Manicure</p>
                                        <div class="style-option"></div>
                                        <p>$12.00</p>

                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                                </div>
                                <div class="title-lefy-streatment">
                                    <div class="option-and-price">
                                        <p style="font-weight: bolder;">Manicure</p>
                                        <div class="style-option"></div>
                                        <p>$12.00</p>

                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                                </div>
                            </div>
                            <div class="right-treatment-price col-md-6" data-aos="zoom-in-down">
                                <img src="../src/Image/right-nails.jpg" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ==================testimonial================= -->
            <div class="bg-testminal">
               <div class="container">
                <div class="text-infor-testminal text-center"data-aos="zoom-in-down">
                    <h4 class="text-under-h4-HomePage update-h4-testmional">Testimonial</h4>
                    <h2 class="text-title-HomePage">What Our Costumer Say</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                </div>
                <div class="testimonial-row row">
                    <div class="left-testimonial col-md-6"  data-aos="zoom-in-right">
                        <img src="../src/Image/treatment.jpg" width="100%" alt="">
                    </div>
                    <div class="right-testimonial col-md-6" ata-aos="zoom-in-left">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris. </p>
                        <div class="start-testimonal">
                            <i class='bx bxs-star'>
                            </i><i class='bx bxs-star'>
                            </i><i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="user-vote-treatmen" >
                            <img src="../src/Image/about-us1.jpg" alt="">
                            <div class="text-user-vote">
                                <p>Manh Cuong</p>
                                <p>Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
            </div>

            <!-- ==================working hour=================== -->
            <div class="working-hour" data-aos="fade-up">
               <div class="container">
                <div class="content-work row ">
                    <div class="left-working col-md-6">
                         
                    </div>
                    <div class="right-working col-md-6">
                        <h4 class="text-under-h4-HomePage">About Us</h4>
                        <h2 class="text-title-HomePage">We Have the Nail Knowledge</h2>
                        <div class="hour-right-working">
                            <p>Monday – Friday</p>
                            <div class="style-hour-woking"></div>
                            <p>09.00 AM – 19.00 PM</p>
                        </div>
                        <div class="hour-right-working">
                            <p>Saturday</p>
                            <div class="style-hour-woking"></div>
                            <p>09.00 AM – 19.00 PM</p>
                        </div>
                        <div class="hour-right-working">
                            <p>Sunday</p>
                            <div class="style-hour-woking"></div>
                            <p>09.00 AM – 19.00 PM</p>
                        </div>
                        <a href=""><button class="btn btn-book">Book Now</button></a>
                    </div>
                </div>
               </div>
            </div>
            <!-- =============latest blog============== -->
            <div class="latest-blog container">
                <h2 class="text-title-HomePage text-center" data-aos="fade-up">Latest Blog</h2>
                <p class="text-center" data-aos="fade-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <div class="row row-lastest" data-aos="fade-down">

                    <div class="item-lastest-blog col-md-4 column-gap-2">
                        <img width="100%" src="../src/Image/nail-tips1.jpg" alt="">
                        <h3>Essential Manicure And Pedicure Tools At Home</h3>
                        <div class="time-lastest-blog">
                            <i class='bx bxs-time' ></i>
                            <p>January 26, 2022</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <a href=""><button class="btn btn-read-more">Read More <i class='bx bx-right-arrow-alt' ></i></button></a>
                    </div>
                    
                    <div class="item-lastest-blog col-md-4">
                        <img width="100%" src="../src/Image/nail-tips1.jpg" alt="">
                        <h3>Essential Manicure And Pedicure Tools At Home</h3>
                        <div class="time-lastest-blog">
                          <i class='bx bxs-time' ></i>
                            <p>January 26, 2022</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <a href=""><button class="btn  btn-read-more">Read More <i class='bx bx-right-arrow-alt' ></i></button></a>
                    </div>
                    
                    <div class="item-lastest-blog col-md-4">
                        <img width="100%" src="../src/Image/nail-tips1.jpg" alt="">
                        <h3>Essential Manicure And Pedicure Tools At Home</h3>
                        <div class="time-lastest-blog">
                            <i class='bx bxs-time' ></i>
                            <p>January 26, 2022</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <a href=""><button class="btn  btn-read-more">Read More <i class='bx bx-right-arrow-alt' ></i></button></a>
                    </div>
                </div>
            </div>
            <!-- =======follow our ig============= -->
             <div class="follow-our-instagram">
          <div class="title-follow-our-instagram text-center mt-5 mb-5 container">
            <span>Follow Our Instagram</span>
            <p class="hr-insta"></p>
            <h2>@naylish.insta</h2>
          </div>
          <div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-4 col-6 mb-4" data-aos="fade-up"
     >
      <div class="box-insta-bottom">
        <div class="img">
          <img src="../src/Image/close-up-view-of-female-hand-holding-bottle-of-nai-2021-08-29-12-15-36-utc-e1643346825119.jpg" alt="">
          <div class="backgrond-hover-image-insta"></div>
          <div class="icon-insta-follow">
            <a class="text-white" href=""> <i class='bx bxl-instagram fs-1'></i> </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-6 mb-4" data-aos="fade-up"
     >
      <div class="box-insta-bottom">
        <div class="img">
          <img src="../src/Image/hands-of-a-woman-with-dark-red-manicure-and-nail-p-2021-08-26-18-28-16-utc-e1643346806313.jpg" alt="">
          <div class="backgrond-hover-image-insta"></div>
          <div class="icon-insta-follow">
            <a class="text-white" href=""> <i class='bx bxl-instagram fs-1'></i> </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-6 mb-4" data-aos="fade-up"
     >
      <div class="box-insta-bottom">
        <div class="img">
          <img src="../src/Image/fashion-nails-2021-08-30-08-40-30-utc-e1643346587414.jpg" alt="">
          <div class="backgrond-hover-image-insta"></div>
          <div class="icon-insta-follow">
            <a class="text-white" href=""> <i class='bx bxl-instagram fs-1'></i> </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-6 mb-4" data-aos="fade-up"
     >
      <div class="box-insta-bottom">
        <div class="img">
          <img src="../src/Image/beautiful-manicure-on-the-nails-of-a-woman-color-2021-12-09-06-01-35-utc-e1643346615824.jpg" alt="">
          <div class="backgrond-hover-image-insta"></div>
          <div class="icon-insta-follow">
            <a class="text-white" href=""> <i class='bx bxl-instagram fs-1'></i> </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-6 mb-4" data-aos="fade-up"
     >
      <div class="box-insta-bottom">
        <div class="img">
          <img src="../src/Image/pastel-nails-2021-08-29-00-59-25-utc-e1643346635604.jpg" alt="">
          <div class="backgrond-hover-image-insta"></div>
          <div class="icon-insta-follow">
            <a class="text-white" href=""> <i class='bx bxl-instagram fs-1'></i> </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-6 mb-4" data-aos="fade-up"
     >
      <div class="box-insta-bottom">
        <div class="img">
          <img src="../src/Image/beautiful-manicure-on-color-palette-background-e1643346460858.jpg" alt="">
          <div class="backgrond-hover-image-insta"></div>
          <div class="icon-insta-follow">
            <a class="text-white" href=""> <i class='bx bxl-instagram fs-1'></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

        </div>
        </main>
        <footer>
        <div class=" background-image-footer position-absolute w-100 " ></div>
        <div class="container text  ">
          <div class="row pt-4 row-footer" >
            
            <div class="col" >
                <img src="../src/Image/photo_2023-03-10_10-33-00.png" alt="" >
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <div class="link-icon">
                <ul class="list-unstyled d-flex">
                    <li><a href=""><i class='bx bxl-facebook'></i></a></li>
                    <li><a href=""><i class='bx bxl-instagram' ></i></a></li>
                    <li><a href=""><i class='bx bxl-twitter' ></i></a></li>
                    <li><a href=""><i class='bx bxl-pinterest-alt'></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col"  >
                <h4  class="pb-3">Support</h4>
                <div class="list-support">
                    <ul class="list-unstyled">
                        <li><a href="">FAQ's</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Term & Conditions</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
              </div>
              <div class="col contact"  >
                <h4 class="pb-3">Kết nối</h4>
                <p>Can lộc hà tĩnh</p>
                <p>Phone : (+62)81 234 567</p>
                
              </div>
            <div class="col" >
                <!-- form subcribe -->
                <form action="">
                    <h4  class="pb-3">Subscribe Newsletter</h4>
                    <div class="box-input-email d-flex">
                        <input type="text" placeholder="Your email"><button>Subscribe</button>
                    </div>
                </form>
              
                
            </div>
          </div>
          <hr style="color: aliceblue;">
          
        </div>
        <div class="coppyright   container" >
            <div class="text-left">
                <p>Nail Salon Template Kit By Jegtheme.
                </p>
            </div>
            <div class="text-right">
                <p> &copy; Bản quyền thuộc facebook anh em code mòn đít  </p>
            </div>
             
          </div>
      </footer>
    </div>
    <div class="oppenTime-box">
        <div class="information-oppenTime">
            <div class="close-information-oppenTime fs-2">
                <button type="button" onclick="iconOpenBoxClick()">
                    <i class="bx bx-x"></i>
                </button>
            </div>
            <div class="logo container text-center">
                <img src="../src/Image/photo_2023-03-10_10-33-00.png" alt="" />
            </div>
            <div class="text text-center">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel
                    risus imperdiet, gravida justo eu.</span>
            </div>
            <hr />
            <div class="map-phone-email container">
                <div class="icon d-flex align-items-center justify-content-center gap-1 mb-3">
                    <i class="bx bxs-map"></i>
                    <div class="span">Jl. Pantai Batu Mejan, Canggu, Bali</div>
                </div>
                <div class="icon d-flex align-items-center justify-content-center gap-1 mb-3">
                    <i class="bx bxs-phone"></i>
                    <div class="span">(+62)81 234 567</div>
                </div>
                <div class="icon d-flex align-items-center justify-content-center gap-1 mb-3">
                    <i class="bx bxs-envelope"></i>
                    <div class="span">naylish@domain.com</div>
                </div>
            </div>
            <hr />
            <div class="opening-hours d-flex align-items-center gap-3 container justify-content-center">
                <div class="day container">
                    <p>Monday - Friday :</p>
                    <p>Saturday :</p>
                    <p>Sunday :</p>
                </div>
                <div class="time container text-center">
                    <p>09:00 AM - 19:00 PM</p>
                    <p>09:00 AM - 19:00 PM</p>
                    <p>09:00 AM - 19:00 PM</p>
                </div>
            </div>
            <hr />
            <div class="social-network d-flex align-items-center gap-2 container justify-content-center">
                <i class="bx bxl-facebook"></i>
                <i class="bx bxl-twitter"></i>
                <i class="bx bxl-instagram"></i>
                <i class="bx bxl-pinterest-alt"></i>
            </div>
        </div>
    </div>
    <div class="menu-sub-responsive position-fixed top-0">
        <div class="close-menu-sub-reponsive">
             <button type="button" class="float-end me-2 mt-2 fs-3" onclick="iconOpenMenuSubClick()">
            <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="logo ps-3">
            <img src="../src/Image/photo_2023-03-10_10-33-00.png" alt="">
        </div>
           <div class="menu menu-responsive">
                <ul>
                  <li><a href="headerHomePage.html">HOME</a></li>
                  <li><a href="About.html">ABOUT US</a></li>
                  <li><a href="ourService.html">SERVICES</a></li>
                  <li class="menu-sub-page-respon">
                    <span class="d-flex align-items-center justify-content-between pe-1 mb-1"
                      >PAGE <i class="bx bx-chevron-down"></i
                    ></span>
                    <ul class="menu-mini-respon">
                        <li><a href="index.html">Our Team</a></li>
                      <li><a href="FaqPage.html">FAQ</a></li>
                      <li><a href="Booking.html">Booking</a></li>
                      <li><a href="">404 Page</a></li>
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="single-blog.html">Single Blog</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">CONTACT US</a></li>
                  <li class="pe-3">  <button type="button" onclick="" class="user-login-responsive w-100">
                  <a href="login.html" class="text-white border-0 d-flex align-items-center gap-3 p-2"><i class='bx bx-user-circle'></i> Đăng Nhập</a>
                </button></li>
                  <li class="user-account pe-3">
                <button class="box-account-responsive border-0 d-flex align-items-center gap-3 p-2 w-100">
                    <img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aHVtYW58ZW58MHx8MHx8&w=1000&q=80" alt=""> 
                  <span class="fs-5">Lê Sỹ Hải</span>
                </button>
                    <ul class="box-fs-account-responsive">
                      <li><a href="">Xem thông tin</a></li>
                      <li><a href="">Sửa thông tin</a></li>
                      <li><a href="">Đăng Xuất</a></li>
                    </ul></li>
                </ul>
              </div>
    </div>
    <div class="modal-mockup">
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="../src/Js/main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>