<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../src/Image/photo_2023-03-10_10-33-00.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../src/Css/style.css" />
    <title>FAQ</title>
  </head>
  <body>
    <div class="box-main">
   <header>
        <div class="header-menutop-banner">
          <div
            class="logo-menu-oppenTime d-flex justify-content-between align-items-center container position-relative"
          >
            <div class="logo">
              <img src="../src/Image/photo_2023-03-10_10-33-00.png" alt="" />
            </div>
            <div class="icon-menu-sub-responsive">
                 <button type="button" onclick="iconOpenMenuSubClick()">
             <i class='bx bx-menu'></i>
            </div>
            <div class="menu-oppentime d-flex gap-5">
              <div class="menu">
                <ul class="d-flex gap-3">
                  <li><a href="headerHomePage.html">HOME</a></li>
                  <li><a href="About.html">ABOUT US</a></li>
                  <li><a href="ourService.html">SERVICES</a></li>
                  <li class="menu-sub-page">
                    <span class="d-flex align-items-center"
                      >PAGE <i class="bx bx-chevron-down"></i
                    ></span>
                     <ul class="menu-mini">
                      <li><a href="ourTeamPage.html">Our Team</a></li>
                      <li><a href="FaqPage.html">FAQ</a></li>
                      <li><a href="Booking.html">Booking</a></li>
                      <li><a href="">404 Page</a></li>
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="single-blog.html">Single Blog</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">CONTACT US</a></li>
                </ul>
              </div>
              <div class="oppentime-icon">
                <i class="bx bxl-facebook"></i>
                <i class="bx bxl-instagram"></i>
                <button type="button" onclick="iconOpenBoxClick()">
                  <i class="bx bx-align-right open-Time"></i>
                </button>
                 <button type="button" onclick="" class="user-login">
                  <a href="login.html" class="text-black"><i class='bx bx-user-circle'></i></a>
                </button>
                 <button type="button" onclick="" class="user-account position-relative" onclick="iconOpenBoxClick()">
                  <img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aHVtYW58ZW58MHx8MHx8&w=1000&q=80" alt="">

                </button>
                  <div class="box-fs-account position-absolute">
                    <ul >
                      <li><a href="">Xem thông tin</a></li>
                      <li><a href="">Sửa thông tin</a></li>
                      <li><a href="">Đăng Xuất</a></li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
          <div class="banner-text-page">
            <div class="banner-page">
            </div>
            <div class="text-center-banner">
              <h1>Chính Sách Và Bảo Mật</h1>
            </div>
          </div>
        </div>
      </header>
     <main>
    <div class="box-policy-and-privacy">

        <div class="container ">
        <div class="policy-and-privacy">
            <div class="title-policy">
               <h3 class="text-center">CHÍNH SÁCH BẢO MẬT THÔNG TIN TẠI MONOSPA</h3>
               <p class="my-3">Cảm ơn bạn đã truy cập vào website MONOSPA. Chúng tôi tôn trọng và cam kết sẽ bảo mật những thông tin mang tính riêng tư của bạn. Xin vui lòng đọc bản chính sách bảo mật dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện nhằm tôn trọng và bảo vệ quyền lợi của người truy cập.</p>
               <P>Bảo vệ dữ liệu cá nhân và gây dựng được niềm tin cho bạn là vấn đề rất quan trọng với chúng tôi. Vì vậy, chúng tôi sẽ dùng tên và các thông tin khác liên quan đến bạn tuân thủ theo nội dung của chính sách bảo mật. Chúng tôi chỉ thu thập những thông tin cần thiết liên quan đến giao dịch mua bán.</P>
            </div>
                <div class="img-policy text-center">
                    <img class="w-100" src="https://trexanhspa.vn/wp-content/uploads/2018/11/chinh-sach-bao-mat-thong-tin.jpg" alt="">
                </div>
            <div class="box-text-policy">
                <div class="text-box-policy">
                    <h3>1. Thu thập thông tin cá nhân</h3>
                    <p>Chúng tôi sẽ thu thập nhiều thông tin khác nhau của bạn khi bạn muốn đặt hàng trên trang web như: Họ tên, địa chỉ, số điện thoại, thư điện tử…vv.</p>
                    <p>Chúng tôi thu thập, lưu trữ và xử lý thông tin của bạn cho quá trình mua hàng, cho những thông báo sau này và để cung cấp dịch vụ.</p>
                    <p>Chúng tôi sẽ dùng thông tin bạn đã cung cấp để xử lý đơn đặt hàng, cung cấp các dịch vụ và thông tin yêu cầu thông qua trang web và theo yêu cầu của bạn. Chúng tôi có thể chuyển tên và địa chỉ cho bên thứ ba để họ giao hàng cho bạn (ví dụ cho bên chuyển phát nhanh hoặc nhà cung cấp).</p>
                </div>
                 <div class="text-box-policy">
                    <h3>2. Thu thập thông tin</h3>
                    <p>Việc thu thập thông tin của bạn sẽ được phục vụ các mục đích sau:</p>
                    <ul>
    
                        <li class="li">Tư vấn, giải đáp, hỗ trợ khách hàng khi lựa chọn dịch vụ.</li>
                        <li class="li">Giao hàng</li>
                        <li class="li">Cung cấp cho bạn thông tin mới nhất trên Website của chúng tôi</li>
                        <li class="li">Xem xét và nâng cấp thông tin và giao diện của Website</li>
                        <li class="li">Khảo sát, lấy ý kiếm khách hàng nhằm nâng cao chất lượng dịch vụ</li>
                        <li class="li">Thực hiện các hoạt động quảng bá liên quan đến các sản phẩm và dịch vụ của chúng tôi</li>
                    </ul>
                    <p>Chúng tôi cũng có thể thu thập thông tin về số lần viếng thăm, bao gồm số trang quý khách xem, số links (liên kết) bạn click và những thông tin khác liên quan đến việc kết nối đến MONOSPA</p>
                    <p>Chúng tôi thu thập và sử dụng thông tin cá nhân quý khách với mục đích phù hợp và hoàn toàn tuân thủ nội dung của “Chính sách bảo mật” này.</p>
                    <p>Khi cần thiết, chúng tôi có thể sử dụng những thông tin này để liên hệ trực tiếp với bạn dưới các hình thức như: gởi thư ngỏ, đơn đặt hàng, thư cảm ơn, thông tin về kỹ thuật và bảo mật, quý khách có thể nhận được thư định kỳ cung cấp thông tin sản phẩm, dịch vụ mới, thông tin về các sự kiện sắp tới hoặc thông tin tuyển dụng.</p>
                </div>
                 <div class="text-box-policy">
                    <h3>3. Bảo mật thông tin cá nhân</h3>
                    <p>Khi bạn gửi thông tin cá nhân của bạn cho chúng tôi, bạn đã đồng ý với các điều khoản mà chúng tôi đã nêu ở trên, chúng tôi cam kết bảo mật thông tin cá nhân của quý khách bằng mọi cách thức có thể nhằm bảo vệ thông tin này không bị truy lục, sử dụng hoặc tiết lộ ngoài ý muốn.</p>
                    <p>Trong khuôn khổ chính sách bảo mật, chúng tôi không bán hay tiết lộ dữ liệu cá nhân của bạn cho bên thứ ba mà không được đồng ý trước trừ khi điều này là cần thiết cho các điều khoản trong chính sách bảo mật hoặc chúng tôi được yêu cầu phải làm như vậy theo quy định của pháp luật.</p>
                </div>
                <div class="text-box-policy">
                    <h3>3. Cam kết bảo mật</h3>
                    <p>MONOSPA chỉ tập hợp lại các thông tin cá nhân trong phạm vi phù hợp và cần thiết cho mục đích thương mại đúng đắn của chúng tôi. Và chúng tôi duy trì các biện pháp thích hợp nhằm bảo đảm tính an toàn, nguyên vẹn, độ chính xác, và tính bảo mật những thông tin mà Người sử dụng đã cung cấp. Ngoài ra, chúng tôi cũng có những biện pháp thích hợp để đảm bảo rằng bên thứ ba cũng sử dụng các biện pháp bảo đảm an toàn cho các thông tin mà chúng tôi cung cấp cho họ.</p>
                    <p>Thông tin cá nhân, thông tin riêng của người sử dụng được thu thập, lưu trữ và bảo vệ một các nghiêm túc, chính xác và bảo mật.</p>
                    <p>Doanh nghiệp thiết lập những phần mềm thu thập, lưu trữ thông tin riêng biệt và được thực hiện duy nhất bởi hệ thống máy chủ của doanh nghiệp và hệ thống máy chủ dự phòng. Việc bảo mật các thông tin cá nhân, thông tin riêng của người sử dụng là tuyệt đối và sẽ không bị xuất trình cho bên thứ ba bất kỳ trừ khi có yêu cầu từ phía cơ quan Nhà nước có thẩm quyền.</p>
                </div>
    
            </div>
    
        </div>
    </div>
    </div>
</main>
    <footer>
        <div class=" background-image-footer position-absolute w-100 " ></div>
        <div class="container text  ">
          <div class="row pt-4 row-footer" >
            
            <div class="col" >
                <img src="../src/Image/photo_2023-03-10_10-33-00.png" alt="" >
              <p> Mono Bovis luôn đồng hành <br>cùng vẻ đẹp của bạn</p>
              <div class="link-icon">
                <ul class="list-unstyled d-flex">
                    <li><a href=""><i class='bx bxl-facebook'></i></a></li>
                    <li><a href=""><i class='bx bxl-instagram' ></i></a></li>
                    <li><a href=""><i class='bx bxl-twitter' ></i></a></li>
                    <li><a href=""><i class='bx bxl-pinterest-alt'></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col"  >
                <h4  class="pb-3">Hỗ trợ</h4>
                <div class="list-support">
                    <ul class="list-unstyled">
                        <li><a href="">Hỏi đáp</a></li>
                        <li><a href="">Chính sách bảo mật</a></li>
                        <li><a href="">Điều khoản & Điều kiện</a></li>
                        <li><a href="">Liên hệ</a></li>
                    </ul>
                </div>
              </div>
              <div class="col contact"  >
                <h4 class="pb-3">Liên hệ</h4>
                <p>Trịnh Văn Bô - Nam Từ Liêm - Hà nội</p>
                <p>Phone : (+62)81 234 567</p>
                
              </div>
            <div class="col" >
                <!-- form subcribe -->
                <form action="">
                    <h4  class="pb-3">Theo dõi tin tức mới nhất</h4>
                    <div class="box-input-email d-flex">
                        <input type="text" placeholder="Your email"><button>Subscribe</button>
                    </div>
                </form>
              
                
            </div>
          </div>
          <hr style="color: aliceblue;">
          
        </div>
        <div class="coppyright   container" >
            <div class="text-left">
                <p>Thư giãn tuyệt đỉnh cùng dịch vụ Spa chất lượng cao
                </p>
            </div>
            <div class="text-right">
                <p> &copy; Bản quyền thuộc đội ngũ coder F6 </p>
            </div>
             
          </div>
      </footer>
    </div>
    <div class="oppenTime-box">
      <div class="information-oppenTime">
        <div class="close-information-oppenTime fs-2">
          <button type="button" onclick="iconOpenBoxClick()">
            <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="logo container text-center">
          <img src="../src/Image/photo_2023-03-10_10-33-00.png" alt="" />
        </div>
        <div class="text text-center">
          <span
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel
            risus imperdiet, gravida justo eu.</span
          >
        </div>
        <hr />
        <div class="map-phone-email container">
          <div
            class="icon d-flex align-items-center justify-content-center gap-1 mb-3"
          >
            <i class="bx bxs-map"></i>
            <div class="span">Jl. Pantai Batu Mejan, Canggu, Bali</div>
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center gap-1 mb-3"
          >
            <i class="bx bxs-phone"></i>
            <div class="span">(+62)81 234 567</div>
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center gap-1 mb-3"
          >
            <i class="bx bxs-envelope"></i>
            <div class="span">naylish@domain.com</div>
          </div>
        </div>
        <hr />
        <div
          class="opening-hours d-flex align-items-center gap-3 container justify-content-center"
        >
          <div class="day container">
            <p>Monday - Friday :</p>
            <p>Saturday :</p>
            <p>Sunday :</p>
          </div>
          <div class="time container text-center">
            <p>09:00 AM - 19:00 PM</p>
            <p>09:00 AM - 19:00 PM</p>
            <p>09:00 AM - 19:00 PM</p>
          </div>
        </div>
        <hr />
        <div
          class="social-network d-flex align-items-center gap-2 container justify-content-center"
        >
          <i class="bx bxl-facebook"></i>
          <i class="bx bxl-twitter"></i>
          <i class="bx bxl-instagram"></i>
          <i class="bx bxl-pinterest-alt"></i>
        </div>
      </div>
    </div>
     <div class="menu-sub-responsive position-fixed top-0">
        <div class="close-menu-sub-reponsive">
             <button type="button" class="float-end me-2 mt-2 fs-3" onclick="iconOpenMenuSubClick()">
            <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="logo ps-3">
            <img src="../src/Image/photo_2023-03-10_10-33-00.png" alt="">
        </div>
           <div class="menu menu-responsive">
                <ul>
                  <li><a href="headerHomePage.html">HOME</a></li>
                  <li><a href="About.html">ABOUT US</a></li>
                  <li><a href="ourService.html">SERVICES</a></li>
                  <li class="menu-sub-page-respon">
                    <span class="d-flex align-items-center justify-content-between pe-1 mb-1"
                      >PAGE <i class="bx bx-chevron-down"></i
                    ></span>
                    <ul class="menu-mini-respon">
                        <li><a href="ourTeamPage.html">Our Team</a></li>
                      <li><a href="FaqPage.html">FAQ</a></li>
                      <li><a href="Booking.html">Booking</a></li>
                      <li><a href="">404 Page</a></li>
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="single-blog.html">Single Blog</a></li>
                    </ul>
                  </li>
                  <li><a href="contact.html">CONTACT US</a></li>
                  <li class="pe-3">  <button type="button" onclick="" class="user-login-responsive w-100">
                  <a href="login.html" class="text-white border-0 d-flex align-items-center gap-3 p-2"><i class='bx bx-user-circle'></i> Đăng Nhập</a>
                </button></li>
                  <li class="user-account pe-3">
                <button class="box-account-responsive border-0 d-flex align-items-center gap-3 p-2 w-100">
                    <img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aHVtYW58ZW58MHx8MHx8&w=1000&q=80" alt=""> 
                  <span class="fs-5">Lê Sỹ Hải</span>
                </button>
                    <ul class="box-fs-account-responsive">
                      <li><a href="">Xem thông tin</a></li>
                      <li><a href="">Sửa thông tin</a></li>
                      <li><a href="">Đăng Xuất</a></li>
                    </ul></li>
                </ul>
              </div>
    </div>
    <script src="../src/Js/main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
     <script>
      AOS.init(); 
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
